---
layout: home
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/DISP-lamastex-1600x524.jpg
  caption: 
excerpt: 'Welcome to LaMaStEx, a laboratory for mathematical statistical experiments.<br /><br /><br />'
feature_row:
  - image_path: /assets/images/DISP-research-500x300.jpg
    alt: "research"
    title: "Research"
    excerpt: "At the interface of computing, mathematics and statistics to solve real-world decision problems."
    url: "/research/"
    btn_label: "Learn More"
  - image_path: /assets/images/DISP-SDS-500x300.jpg
    alt: "scalable-data-science"
    title: "Scalable Data Science"
    excerpt: 'A Course in Big Data Using Apache Spark.<br /><br />{::nomarkdown}<iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=lamastex&repo=scalable-data-science&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe> <iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=lamastex&repo=scalable-data-science&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>{:/nomarkdown}'
    url: https://lamastex.github.io/scalable-data-science
    btn_label: "Learn More"
  - image_path: /assets/images/DISP-software-500x300.jpg
    alt: "software"
    title: "Software"
    excerpt: "Open Source Software in C++, MATLAB, Python and Scala for Mathematical Statistical Experiments."
    url: "/software/"
    btn_label: "Learn More"
github:
 - excerpt: '{::nomarkdown}<iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=lamastex&repo=scalable-data-science&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe> <iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=lamastex&repo=scalable-data-science&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>{:/nomarkdown}'
intro:
  - excerpt: '<img src="/assets/images/site-logo01BallOnly.svg" alt="" style="width:50px;height=50px"> LaMaStEx is at the interface of computing, mathematics and statistics.'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
 
